* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 100;
  background: #e25822;
  width: 100%;
}

h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.map {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.location-icon {
  font-size: 2rem;
  color: #e25822;
}

.location-info {
  color: #fff;
  position: absolute;
  top: 50px;
  right: 50px;
  width: 400px;
  min-height: 200px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 1rem;
  font-size: 18px;
}

.location-info ul {
  list-style-type: none;
  padding: 0;
}

.location-info ul li {
  padding: 5px 0;
}
